.about {
  background-color: rgb(67, 104, 175);
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about p {
  padding: 0 1rem;
  margin: 1rem 0;
}

.about > h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem 1rem;
  letter-spacing: 0.2px;
  word-spacing: 3px;
}

.about ul {
  list-style: square;
}

.bright ul {
  background-color: rgb(67, 104, 175);
}

li.bright {
  padding-left: 1rem;
  list-style-position: inside;
  text-transform: uppercase;
}

li.bright span {
  display: inline-block;
  padding: 0.3rem 0;
}

li.bright ul {
  background-color: rgb(63, 98, 166);
  margin-left: -1rem;
  padding-left: 2.5rem;
  text-transform: lowercase;
  list-style: none;
}

li.bright li:first-child {
  padding-top: 0.5rem;
}

li.bright li:last-child {
  padding-bottom: 0.5rem;
}

.about > ul:first-of-type {
  padding: 0 2rem;
}

.bright {
  background-color: rgb(86, 136, 231);
}

.credits {
  padding-bottom: 1rem;
}

.credits > h3 {
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
}

.credits > p {
  margin: 0.5rem 0;
}

.credits a {
  color: #fff;
}
