.forecast {
  padding: 1rem;
  background-color: #5688e7;
  color: #fff;
}

.peak_name {
  background-color: #35548b;
  height: 2.2rem;
  padding: 0 1rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

.model {
  margin-bottom: 1rem;
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
}

.model button {
  all: unset;
  cursor: pointer;
  background-color: #3f62a6;
  border: 1px solid #3f62a6;
  text-align: center;
  padding: 0.5rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button.selected {
  border: 1px solid #fff;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.forecast tr {
  display: inline-flex;
  flex-direction: column;
}

td {
  padding: 0.5rem 0;
  text-align: center;
  border-bottom: 1px solid #5688e7;
  justify-self: center;
}

th {
  border-bottom: 3px solid #5688e7;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

th:nth-child(2n+0) {
  height: 2rem;
  font-size: 1rem;
  font-weight: 300;
}

.forecast img {
  height: 2rem;
}

.forecast tr:nth-of-type(3) img {
  height: 1.6rem;
}

.forecast tr:nth-child(1) {
  background-color: #3f62a6;
  width: 25%;
}

.forecast tr:nth-child(2) {
  background-color: #4369b2;
  width: 15%;
}

.forecast tr:nth-child(3) {
  background-color: #3f62a6;
  width: 15%;
}

.forecast tr:nth-child(4) {
  background-color: #4369b2;
  width: 15%;
}

.forecast tr:nth-child(5) {
  background-color: #3f62a6;
  width: 15%;
}

.forecast tr:nth-child(6) {
  background-color: #4369b2;
  width: 15%;
}
