.forecast {
  padding: 1rem;
  background-color: #5688e7;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  color: #fff;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-weight: 300;
}

.forecast tr {
  display: inline-flex;
  flex-direction: column;
}

td {
  padding: 15px 10px;
  text-align: center;
  border-bottom: 1px solid #5688e7;
  justify-self: center;
}

th {
  border-bottom: 3px solid #5688e7;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast img {
  height: 2rem;
}

.forecast tr:nth-of-type(3) img {
  height: 1.6rem;
}

.forecast tr:nth-child(1) {
  background-color: #3f62a6;
  width: 25%;
}

.forecast tr:nth-child(2) {
  background-color: #4369b2;
  width: 15%;
}

.forecast tr:nth-child(3) {
  background-color: #3f62a6;
  width: 15%;
}

.forecast tr:nth-child(4) {
  background-color: #4369b2;
  width: 15%;
}

.forecast tr:nth-child(5) {
  background-color: #3f62a6;
  width: 15%;
}

.forecast tr:nth-child(6) {
  background-color: #4369b2;
  width: 15%;
}
