.country {
  color: white;
  background-color: #5688e7;
  height: auto;
  gap: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
}

.country img {
  height: auto;
  width: 50%;
  color: white;
}

.homepage_text,
.current_weather {
  margin: auto;
  width: 50%;
  max-width: 200px;
}

.homepage_text h2 {
  line-height: 1.4rem;
  font-size: 1.4rem;
}

.country h2,
.country p:first-of-type {
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homepage_text p:first-of-type {
  font-size: 1.2rem;
}

.country p:last-child {
  font-family: 'Lato', sans-serif;
  margin-top: 0.8rem;
  text-align: end;
  text-transform: uppercase;
  font-size: 0.85rem;
  word-spacing: 2px;
}

.country p span {
  text-transform: lowercase;
}

.current_weather h2 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.current_weather p:first-of-type {
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

.current_weather ul {
  border-top: 1px solid #fff;
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
}

.current_weather li {
  display: flex;
  justify-content: space-between;
}

.current_weather ul span {
  display: inline-block;
  align-self: flex-end;
}
