.gfs,
.icon {
  background-color: rgb(67, 104, 175);
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gfs > h2,
.icon > h2 {
  background-color: rgb(86, 136, 231);
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem 1rem;
  letter-spacing: 0.2px;
  word-spacing: 3px;
}

.gfs h2:last-of-type {
  font-size: 1rem;
}

.icon > p,
.gfs > p {
  padding: 0 1rem;
  margin: 1rem 0;
}

.icon > ul {
  padding: 1rem 1rem;
  background-color: rgb(63, 98, 166);
}

.icon li {
  margin-left: 1rem;
  list-style-type: square;
}

.gfs p:first-child,
.icon p:first-child {
  padding: 1rem 1rem;
  margin: 0;
  background-color: rgb(53, 84, 139);
}

.gfs a,
.icon a {
  color: #fff;
}
