.list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search {
  height: 2.2rem;
  padding: 0 1rem;
  background-color: #35548b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search h3 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

.search input {
  border: none;
  color: #fff;
  background-color: #5688e7;
  height: 1.2rem;
  width: 35%;
  padding: 0 5px;
}

.search input::placeholder {
  color: #2d4573;
}

.card {
  min-height: 50vw;
  padding: 0.8rem 1rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card:nth-child(4n+1),
.card:nth-child(4n+0) {
  background-color: #4368af;
}

.card:nth-child(4n+2),
.card:nth-child(4n+3) {
  background-color: #3f62a6;
}

.card a {
  text-decoration: none;
  color: white;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  position: relative;
}

.icon {
  grid-area: 1 / 1 / 2 / 2;
  height: 1rem;
  width: 1rem;
  justify-self: end;
}

.info {
  text-align: end;
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card a > img {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  grid-area: 1 / 1 / 3 / 2;
  z-index: 1;
  align-self: flex-end;
}

.name {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.elevation {
  font-size: 0.9rem;
  font-weight: 400;
}

img.code {
  margin: 0.25rem 0 0;
  height: 2rem;
}
