@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 350px;
  background-color: rgb(67, 104, 175);
}

#root {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#outlet {
  flex: 2;
  background-color: rgb(67, 104, 175);
  display: flex;
  flex-direction: column;
}

.loading,
.error {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
}
