@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Gill Sans';
  font-weight: light;
  src: url('./assets/GillSans/Gill\ Sans\ Light.otf') format("opentype");
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: medium;
  src: url('./assets/GillSans/Gill\ Sans\ Medium.otf') format("opentype");
}

@font-face {
  font-family: 'Gill Sans';
  font-weight: bold;
  src: url('./assets/GillSans/Gill\ Sans\ Bold.otf') format("opentype");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
